@* arrayIntSpecEdit Template File *@
@(ais:ArrayIntSpec)

<strong>Array[Int] - </strong>
Name: <input name="VName-@VariableSpec.IntArraySpecType-@ais.paramNumber" id="VName-@VariableSpec.IntArraySpecType-@ais.paramNumber" value="@ais.name" placeholder="Variable name"/>
Min Length: <input name="MinLen-@VariableSpec.IntArraySpecType-@ais.paramNumber" id="MinLen-@VariableSpec.IntArraySpecType-@ais.paramNumber" value="@ais.minLen" placeholder="min length"/>
Max Length: <input name="MaxLen-@VariableSpec.IntArraySpecType-@ais.paramNumber" id="MaxLen-@VariableSpec.IntArraySpecType-@ais.paramNumber" value="@ais.maxLen" placeholder="max length"/>
Min: <input name="Min-@VariableSpec.IntArraySpecType-@ais.paramNumber" id="Min-@VariableSpec.IntArraySpecType-@ais.paramNumber" value="@ais.min" placeholder="min value"/>
Max: <input name="Max-@VariableSpec.IntArraySpecType-@ais.paramNumber" id="Max-@VariableSpec.IntArraySpecType-@ais.paramNumber" value="@ais.max" placeholder="max value"/>
