@(ais:ArrayArrayDoubleSpec)

<strong>Array[Array[Double[Int]] - </strong>
Name: <input name="VName-@VariableSpec.DoubleArrayArraySpecType-@ais.paramNumber" id="VName-@VariableSpec.DoubleArrayArraySpecType-@ais.paramNumber" value="@ais.name" placeholder="Variable name"/>
Min Length: <input name="MinLen-@VariableSpec.DoubleArrayArraySpecType-@ais.paramNumber" id="MinLen-@VariableSpec.DoubleArrayArraySpecType-@ais.paramNumber" value="@ais.minLen1" placeholder="min length"/>
Max Length: <input name="MaxLen-@VariableSpec.DoubleArrayArraySpecType-@ais.paramNumber" id="MaxLen-@VariableSpec.DoubleArrayArraySpecType-@ais.paramNumber" value="@ais.maxLen1" placeholder="max length"/>
Min: <input name="Min-@VariableSpec.DoubleArrayArraySpecType-@ais.paramNumber" id="Min-@VariableSpec.DoubleArrayArraySpecType-@ais.paramNumber" value="@ais.min" placeholder="min value"/>
Max: <input name="Max-@VariableSpec.DoubleArrayArraySpecType-@ais.paramNumber" id="Max-@VariableSpec.DoubleArrayArraySpecType-@ais.paramNumber" value="@ais.max" placeholder="max value"/>
