@* doubleSpecEdit Template File *@
@(ds:DoubleSpec)

<strong>Double - </strong>
Name: <input name="VName-@VariableSpec.DoubleSpecType-@ds.paramNumber" id="VName-@VariableSpec.DoubleSpecType-@ds.paramNumber" value="@ds.name" placeholder="Variable name"/>
Min: <input name="Min-@VariableSpec.DoubleSpecType-@ds.paramNumber" id="Min-@VariableSpec.DoubleSpecType-@ds.paramNumber" value="@ds.min" placeholder="min value"/>
Max: <input name="Max-@VariableSpec.DoubleSpecType-@ds.paramNumber" id="Max-@VariableSpec.DoubleSpecType-@ds.paramNumber" value="@ds.max" placeholder="max value"/>
