@* intSpecEdit Template File *@
@(is:IntSpec)

<strong>Int - </strong>
Name: <input name="VName-@VariableSpec.IntSpecType-@is.paramNumber" id="VName-@VariableSpec.IntSpecType-@is.paramNumber" value="@is.name" placeholder="Variable name"/>
Min: <input name="Min-@VariableSpec.IntSpecType-@is.paramNumber" id="Min-@VariableSpec.IntSpecType-@is.paramNumber" value="@is.min" placeholder="min value"/>
Max: <input name="Max-@VariableSpec.IntSpecType-@is.paramNumber" id="Max-@VariableSpec.IntSpecType-@is.paramNumber" value="@is.max" placeholder="max value"/>
