@* ListStringSpecEdit Template File *@
@(lss:ListStringSpec)

<strong>List[String] - </strong>
Name: <input name="VName-@VariableSpec.StringListSpecType-@lss.paramNumber" id="VName-@VariableSpec.StringListSpecType-@lss.paramNumber" value="@lss.name" placeholder="Variable name"/>
Min Length: <input name="MinLen-@VariableSpec.StringListSpecType-@lss.paramNumber" id="MinLen-@VariableSpec.StringListSpecType-@lss.paramNumber" value="@lss.minLen" placeholder="min length"/>
Max Length: <input name="MaxLen-@VariableSpec.StringListSpecType-@lss.paramNumber" id="MaxLen-@VariableSpec.StringListSpecType-@lss.paramNumber" value="@lss.maxLen" placeholder="max length"/>
Length: <input name="Length-@VariableSpec.StringListSpecType-@lss.paramNumber" id="Length-@VariableSpec.StringListSpecType-@lss.paramNumber" value="@lss.stringLength" placeholder="Length"/>
Generating Code: <textarea name="Gen-@VariableSpec.StringListSpecType-@lss.paramNumber" id="Gen-@VariableSpec.StringListSpecType-@lss.paramNumber" placeholder="Gen Code">@lss.genCode</textarea>
