@* listIntSpecEdit Template File *@
@(lis:ListIntSpec)

<strong>List[Int] - </strong>
Name: <input name="VName-@VariableSpec.IntListSpecType-@lis.paramNumber" id="VName-@VariableSpec.IntListSpecType-@lis.paramNumber" value="@lis.name" placeholder="Variable name"/>
Min Length: <input name="MinLen-@VariableSpec.IntListSpecType-@lis.paramNumber" id="MinLen-@VariableSpec.IntListSpecType-@lis.paramNumber" value="@lis.minLen" placeholder="min length"/>
Max Length: <input name="MaxLen-@VariableSpec.IntListSpecType-@lis.paramNumber" id="MaxLen-@VariableSpec.IntListSpecType-@lis.paramNumber" value="@lis.maxLen" placeholder="max length"/>
Min: <input name="Min-@VariableSpec.IntListSpecType-@lis.paramNumber" id="Min-@VariableSpec.IntListSpecType-@lis.paramNumber" value="@lis.min" placeholder="min value"/>
Max: <input name="Max-@VariableSpec.IntListSpecType-@lis.paramNumber" id="Max-@VariableSpec.IntListSpecType-@lis.paramNumber" value="@lis.max" placeholder="max value"/>
