@(userForm:Form[Tables.UsersRow])(implicit flash:Flash, messages: Messages)

@main("Main Menu", false) {
	<p>Login</p>
	@helper.form(action = routes.Application.verifyLogin) {
		@helper.inputText(userForm("Username"))
		@helper.inputPassword(userForm("Trinity ID"))
		<div class='form-actions'>
			<button type='submit'>Login</button>
		</div>
	}

        <div>
          <p>Or sign in using these providers</p>
          <div>
            <a title="Sign in with Google" href="@routes.AuthenticationController.authenticateGoogle" class="provider google">
              Login with Google
            </a>
          </div>
        </div>
 
}