@* stringSpecEdit Template File *@
@(ss:StringSpec)

<strong>String - </strong>
Name: <input name="VName-@VariableSpec.StringSpecType-@ss.paramNumber" id="VName-@VariableSpec.StringSpecType-@ss.paramNumber" value="@ss.name" placeholder="Variable name"/>
Length: <input name="Length-@VariableSpec.StringSpecType-@ss.paramNumber" id="Length-@VariableSpec.StringSpecType-@ss.paramNumber" value="@ss.length" placeholder="Length"/>
Generating Code: <textarea name="Gen-@VariableSpec.StringSpecType-@ss.paramNumber" id="Gen-@VariableSpec.StringSpecType-@ss.paramNumber" placeholder="Gen Code">@ss.genCode</textarea>
