@* viewQuiz Template File *@
@(quiz:QuizData)(implicit flash:Flash)

@main("View " + quiz.name, true) {
	<h2>View Quiz - @quiz.name</h2>
	<p>@quiz.description</p>
	@for(mcd <- quiz.multipleChoice) {
		<div>
		<p>@mcd.spec.prompt</p>
		<ol>
		@for(a <- mcd.spec.options) {
			<li>@a</li>
		}
		</ol>
		<p>@if(mcd.answer.nonEmpty) {Answered. @mcd.answer.get}</p>
		</div>
		<hr>
	}
	@for(cq <- quiz.codeQuestions) {
		<div>
		<p>@cq.spec.prompt</p>
		@if(cq.lastCode.nonEmpty) {
			@if(cq.correct) {
				<p>You answered this correctly with the following code.</p>
			} else {
				<p>You answered this incorrectly with the following code.</p>
			}
			<pre>@cq.lastCode.get</pre>
		}
		</div>
		<hr>
	}		
}
